.datepicker-layout {
    position: relative;
    cursor: pointer;
}
.datepicker-layout::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: .8rem;
    height: .8rem;
    background: url(../img/icons/icon-arr-down.svg) 0 0 no-repeat;
}
.datepicker-layout.active-datepicker::after {
    content: '';
    background-position: -18px 0;
}
/*.datepicker-layout:hover::after {*/
    /*content: '';*/
    /*background-position: -18px 0;*/
    /*-webkit-transition: all .1s ease;*/
    /*-moz-transition: all .1s ease;*/
    /*-ms-transition: all .1s ease;*/
    /*-o-transition: all .1s ease;*/
    /*transition: all .1s ease;*/
/*}*/

.datepicker {
    z-index: 1070;
}

.datepicker--day-name {
    color: #5b6877;
}

.datepicker--cell,
.datepicker--cell-day {
    border-radius: 50px;
    background-color: #f9f3e3;
}

.datepicker--cell.-disabled- {
    background-color: #f8f7f6 !important;
}

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
    background-color: transparent !important;
}

.datepicker--cell.-current- {
    /*background-color: #3ca6df;*/
    color: #9acc4e;
}

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-.-focus-{
    background: #9acc4e;
}
.datepicker--nav-action:hover path {
    stroke: #9acc4e;
}

.dp-note {
    position: absolute;
    background: #9acc4e;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    right: 1.1rem;
    top: 1.1rem;
    /*-webkit-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
}

.datepicker-layout-v2 {
    display: inline-block;
    margin-left: 5.5rem;
    border: .1rem solid #dcd9d3;
    border-radius: .4rem;
    cursor: pointer;
    position: relative;
}

.datepicker-layout-v2::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5.5rem;
    width: 4.5rem;
    height: 4.9rem;
    background: url(../img/icons/icon-calendar-decor.png) 0 0 no-repeat;
}

.datepicker-layout-v2 .datepicker-text {
    display: inline-block;
    padding: 1.2rem 1.8rem;
    font-size: 1.5rem;
    color: #555451;
    cursor: pointer;
}

.datepicker-layout-v2 input[type="text"] {
    display: inline-block;
    width: 10rem !important;
    font-size: 1.7rem;
    color: #c44890;
    border: none;
    outline: none;
    cursor: pointer;
}
