@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400i&subset=cyrillic,cyrillic-ext");
a, a:hover, a:focus, .c-input, .c-input:focus, .c-icon:hover, .c-button, .c-button:hover, .c-reviews__item, .c-reviews__item:hover, .header, .header-mobile__dropdown, .header-mobile__auth, .icon-menu__transform .icon-menu__line-2, .icon-menu__transform .icon-menu__line-1, .icon-menu__transform .icon-menu__line-3, .footer-search__btn:hover, .home-cafe:hover,
.home-celebration:hover,
.home-cake:hover, .home-cafe, .home-cafe:hover .home-cafe__rabbit, .home-cafe:hover .home-cafe__map, .home-cafe__text, .home-cafe__rabbit, .home-cafe__arrow, .home-cafe__map, .home-celebration, .home-celebration:hover .home-celebration__packege, .home-celebration:hover .home-celebration__text, .home-celebration:hover .home-celebration__paw-bear, .home-celebration__packege, .home-celebration__text, .home-cake, .home-cake:hover .home-cake__bear, .popup, .popup__request-call .mobile-request-call__form, .popup__request-call .mobile-request-call_inquiry, .popup-basket, .mfp-bg, .popup-show, .popup-slide__show, .is-visible, .body-popup, .header-top__hide {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  will-change: transform; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
  h1:before,
  h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
  abbr:before,
  abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
  del:before,
  del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
  small:before,
  small:after, strong:before, strong:after, var:before, var:after,
  b:before,
  b:after, i:before, i:after,
  dl:before,
  dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
  fieldset:before,
  fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
  article:before,
  article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
  footer:before,
  footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
  time:before,
  time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after, button:before, button:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  sub:before, sub:after,
  sup:before,
  sup:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a:before, a:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: none; }

q:before, q:after {
  content: none; }

:focus {
  outline: 0; }

input[type="text"], textarea {
  -webkit-appearance: none; }
  input[type="text"]::-ms-clear, textarea::-ms-clear {
    display: none; }

input,
textarea {
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #555451; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #555451; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #555451; }
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: transparent; }
  input:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    color: transparent; }

textarea {
  resize: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word; }

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Bold.eot");
  src: url("../fonts/BebasNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-Bold.woff") format("woff"), url("../fonts/BebasNeue-Bold.ttf") format("truetype"), url("../fonts/BebasNeue-Bold.svg#BebasNeue") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Book.eot");
  src: url("../fonts/BebasNeue-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-Book.woff") format("woff"), url("../fonts/BebasNeue-Book.ttf") format("truetype"), url("../fonts/BebasNeue-Book.svg#BebasNeue") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Light.eot");
  src: url("../fonts/BebasNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-Light.woff") format("woff"), url("../fonts/BebasNeue-Light.ttf") format("truetype"), url("../fonts/BebasNeue-Light.svg#BebasNeue") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Thin.eot");
  src: url("../fonts/BebasNeue-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-Thin.woff") format("woff"), url("../fonts/BebasNeue-Thin.ttf") format("truetype"), url("../fonts/BebasNeue-Thin.svg#BebasNeue") format("svg");
  font-weight: 100;
  font-style: normal; }

html {
  height: 100%;
  font: 400 10px/1.33 sans-serif; }

body {
  position: relative;
  height: 100%;
  font-size: 1.6rem;
  color: #555451;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff url("../img/bg-page.png") no-repeat 50% 50%;
  background-size: cover; }

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }

.base {
  position: relative;
  padding: 10rem 0 10rem; }

a {
  text-decoration: none;
  color: #9b806f;
  border-bottom: 1px dotted #9b806f; }
  a:hover, a:focus {
    color: #9acc4e;
    border: none; }

.elements_list {
  padding: 3rem; }

p {
  font-family: "PT Serif Caption"; }

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
  width: 100%; }

input[type="checkbox"] {
  display: none; }

.c-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 2.9rem;
  font-size: 1.2rem;
  line-height: 1.3;
  color: #555451;
  cursor: pointer; }
  .c-checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: .4rem;
    border: 1px solid #9b806f; }

input[type="checkbox"]:checked + .c-checkbox::after {
  content: '';
  position: absolute;
  top: .37rem;
  left: .49rem;
  width: .8rem;
  height: .8rem;
  background: url(../img/icons/icon-chek.svg) no-repeat 50% 50%; }

.c-input {
  display: block;
  border: 1px solid #9b806f;
  outline: none;
  border-radius: .4rem;
  padding: 1.3rem 1.6rem;
  font-size: 1.3rem;
  color: #9b9696;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.5); }
  .c-input:focus {
    border-color: #9acc4e; }

.c-label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #555451; }

.c-personal-data {
  margin-bottom: 1.9rem; }
  .c-personal-data__item {
    margin-bottom: .6rem; }
    .c-personal-data__item:last-child {
      margin-bottom: 0; }

.c-counter {
  border-radius: .2rem;
  border: 1px solid #9b9696;
  font-family: "PT Serif Caption";
  position: relative;
  font-size: 0; }
  .c-counter__field {
    border: none;
    background-color: #fff;
    outline: none;
    text-align: center;
    display: inline-block;
    width: 50% !important; }
  .c-counter__btn {
    font-size: 1.2rem;
    color: #555451;
    display: inline-block;
    padding: .4rem 0;
    text-align: center;
    width: 25%;
    cursor: pointer; }
  .c-counter .dec {
    left: .6rem; }
  .c-counter .inc {
    right: .6rem; }

.c-icon.is-active {
  fill: #9acc4e; }

.c-icon:hover {
  fill: #67af26;
  cursor: pointer; }

.icon-logo {
  position: relative;
  width: 38rem;
  height: 7.9rem;
  cursor: pointer; }

.icon-basket {
  position: relative;
  width: 22px;
  height: 23px;
  fill: #9b9696; }

.icon-cabinet {
  position: relative;
  width: 19px;
  height: 19px;
  fill: #9b9696;
  vertical-align: bottom; }

.icon-phone {
  position: relative;
  width: 16px;
  height: 19px;
  fill: #9b9696;
  vertical-align: bottom; }

.icon-email {
  position: relative;
  width: 19px;
  height: 19px;
  fill: #9b9696;
  vertical-align: bottom; }

.icon-search {
  position: relative;
  width: 20px;
  height: 19px;
  fill: #9b9696;
  vertical-align: bottom; }

.icon-vk {
  position: relative;
  width: 21px;
  height: 19px;
  fill: #9b9696;
  vertical-align: top; }

.icon-fb {
  position: relative;
  width: 18px;
  height: 19px;
  fill: #9b9696;
  vertical-align: top; }

.icon-o {
  position: relative;
  width: 20px;
  height: 19px;
  fill: #9b9696;
  vertical-align: top; }

.icon-site-map {
  position: relative;
  width: 21px;
  height: 19px;
  fill: #9b9696;
  vertical-align: top; }

.icon-info {
  position: relative;
  width: 19px;
  height: 19px;
  fill: #9b9696;
  vertical-align: top; }

.icon-ru {
  position: relative;
  width: 19px;
  height: 19px;
  fill: #9b9696;
  vertical-align: top; }

.icon-en {
  position: relative;
  width: 19px;
  height: 19px;
  fill: #9b9696;
  vertical-align: top; }

.logo-uniteller {
  position: relative;
  width: 39px;
  height: 25px;
  vertical-align: top;
  background-size: cover;
  background-image: url(../img/logo-uniteller.svg); }

.logo-mir {
  position: relative;
  width: 56px;
  height: 16px;
  vertical-align: top;
  background-size: cover;
  background-image: url(../img/logo-mir.svg); }

.logo-visa {
  position: relative;
  width: 95px;
  height: 23px;
  vertical-align: top;
  background-image: url(../img/logo-visa-mastercard.svg); }

.icon-positive {
  position: relative;
  width: 17px;
  height: 27px;
  fill: #9b9696;
  vertical-align: bottom; }

.icon-negative {
  position: relative;
  width: 17px;
  height: 27px;
  fill: #9b9696;
  vertical-align: bottom; }

.icon-city {
  position: relative;
  width: 15px;
  height: 21px;
  fill: #9b9696;
  vertical-align: bottom; }

.icon-menu {
  position: relative;
  width: 18px;
  fill: #9b9696;
  vertical-align: bottom; }

.icon-search-mobile {
  display: none;
  position: relative;
  width: 11px;
  fill: #9b9696;
  vertical-align: bottom; }

.icon-pencil {
  width: 23px;
  fill: #9b9696; }

.icon-candy {
  width: 3.5rem;
  fill: #9b9696; }

.icon-cake-menu {
  width: 1.9rem;
  fill: #9b9696; }

@media screen and (min-width: 1600px) {
  .c-layout {
    position: relative;
    width: 1600px;
    margin: 0 auto; }
    .c-layout::after {
      content: '';
      clear: both;
      display: table; } }

@media screen and (max-width: 1600px) {
  .c-layout {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 22px; }
    .c-layout::after {
      content: '';
      clear: both;
      display: table; } }

.l-button__left {
  text-align: left; }

.l-button__right {
  text-align: right; }

.l-button__center {
  text-align: center; }

.c-button {
  border-radius: .4rem;
  border: none;
  outline: none;
  cursor: pointer; }
  .c-button__default {
    padding: 1.4rem 3.4rem;
    background-color: #7cbd41;
    font-family: "PT Serif Caption";
    font-size: 1.4rem;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    display: inline-block; }
  .c-button__width {
    padding: 1.4rem 5.4rem;
    background-color: #7cbd41;
    font-family: "PT Serif Caption";
    font-size: 1.4rem;
    line-height: 1;
    color: #fff;
    text-transform: uppercase; }
  .c-button:hover {
    opacity: .9; }

.c-obligatory-field {
  color: #b62922;
  font-size: 1.4rem; }

.c-reviews {
  position: fixed;
  z-index: 99;
  right: 0;
  top: 50%;
  margin-top: -60px;
  font-family: "PT Serif Caption";
  font-size: 0; }
  .c-reviews__item {
    border-radius: .6rem 0 0 .6rem;
    background: url(../img/bg-reviews__bg.jpg) 0 0 no-repeat;
    margin-bottom: 1.5rem;
    -webkit-transform: translateX(15.6rem);
        -ms-transform: translateX(15.6rem);
            transform: translateX(15.6rem);
    overflow: hidden; }
    .c-reviews__item:hover {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
  .c-reviews__btn {
    display: block;
    padding: 1.2rem 1.7rem 1.4rem 1.7rem;
    position: relative;
    border: none;
    color: #fff;
    -webkit-box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.15); }
    .c-reviews__btn:hover {
      color: #fff; }
    .c-reviews__btn:last-child {
      margin-bottom: 0; }
  .c-reviews__text {
    display: inline-block;
    width: 14rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .c-reviews .c-icon {
    fill: #fff;
    margin-right: 1.1rem;
    width: 21px;
    height: 31px; }
  .c-reviews .reviews-positive {
    background-color: rgba(129, 199, 29, 0.87); }
  .c-reviews .reviews-negative {
    background-color: rgba(223, 75, 10, 0.8); }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  will-change: transform;
  z-index: 100; }

.header {
  z-index: 999;
  background: #fdf7e8 url("../img/bg-header.png") repeat;
  font-family: "PT Serif Caption";
  padding: 1rem 0 0;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px 3px 18px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 18px 8px rgba(0, 0, 0, 0.25);
  color: #9b9696; }
  .header-mobile {
    /*мобильная аунтификация*/ }
    .header-mobile__top {
      display: none;
      padding: 0 0 .8rem;
      border-bottom: 1px solid #e9e0cb;
      position: relative; }
      .header-mobile__top::after {
        content: '';
        clear: both;
        display: table; }
    .header-mobile__cabinet {
      float: left;
      margin-right: 1.1rem; }
      .header-mobile__cabinet .icon-cabinet {
        width: 21px; }
    .header-mobile__city {
      float: left; }
    .header-mobile__tel {
      float: right;
      color: #9acc4e;
      font-size: 1.9rem;
      margin-left: 1.9rem;
      border: none; }
    .header-mobile__bottom {
      padding: 1rem 0;
      background-color: #fff;
      display: none; }
      .header-mobile__bottom::after {
        content: '';
        display: table;
        clear: both; }
    .header-mobile__menu {
      font-size: 0;
      float: left;
      cursor: pointer; }
      .header-mobile__menu-btn {
        display: inline-block;
        margin-right: 1.1rem;
        vertical-align: middle;
        position: relative; }
        .header-mobile__menu-btn .icon-menu__line-1 svg,
        .header-mobile__menu-btn .icon-menu__line-2 svg {
          width: 18px;
          margin-bottom: 4px; }
      .header-mobile__menu-text {
        display: inline-block;
        font-size: 1.4rem;
        vertical-align: middle;
        color: #9b9696; }
      .header-mobile__menu:hover .header-mobile__menu-text {
        color: #67af26; }
      .header-mobile__menu:hover .icon-menu {
        fill: #67af26; }
    .header-mobile__search {
      float: right; }
      .header-mobile__search-box {
        background-color: #fdf7e8;
        position: relative;
        padding: 1.7rem 0;
        display: none; }
        .header-mobile__search-box input {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          padding: .6rem 0;
          border-bottom: 1px solid #d2cdc4;
          font-size: 1.5rem;
          color: #555451;
          font-family: "PT Serif Caption";
          padding-right: 4rem; }
        .header-mobile__search-box .icon-search {
          position: absolute;
          right: 2.3rem;
          top: .5rem; }
    .header-mobile__dropdown {
      -webkit-box-shadow: inset 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
              box-shadow: inset 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
      position: absolute;
      z-index: 5;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 0 0 3rem;
      height: 100vh;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
      .header-mobile__dropdown-close {
        display: none; }
    .header-mobile__item-top {
      display: block;
      padding: 1.2rem 0;
      border-bottom: 1px solid #e9e0cb;
      -webkit-box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.35);
              box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.35);
      text-align: center; }
      .header-mobile__item-top:hover {
        border-bottom: 1px solid #e9e0cb; }
      .header-mobile__item-top:hover svg {
        fill: #9acc4e; }
      .header-mobile__item-top:last-child {
        margin-bottom: 1rem; }
    .header-mobile__item-title {
      font-family: "BebasNeue";
      display: inline-block;
      font-size: 3.4rem;
      text-align: center;
      position: relative; }
    .header-mobile__item-subtitle {
      font-family: "BebasNeue";
      font-size: 2rem;
      font-weight: 700;
      text-align: center; }
    .header-mobile__item-icon {
      position: absolute; }
      .header-mobile__item-icon--cake {
        left: -2.5rem;
        top: -1px; }
      .header-mobile__item-icon--candy {
        left: -4.4rem;
        top: -1px; }
      .header-mobile__item-icon--pencil {
        left: -3rem;
        top: -1px; }
    .header-mobile__list {
      padding-top: 1em; }
    .header-mobile__item {
      text-align: center;
      padding: .5em 0; }
    .header-mobile__link {
      text-transform: lowercase;
      cursor: pointer; }
      .header-mobile__link:hover {
        color: #231300;
        border-color: #231300; }
    .header-mobile__auth {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: 99;
      background: #fdf7e8 url("../img/bg-header.png") repeat;
      top: 100%;
      left: 0;
      width: 100%;
      font-size: 0;
      text-align: justify;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
      .header-mobile__auth::after {
        content: '';
        width: 100%;
        display: inline-block; }
      .header-mobile__auth-btn {
        width: 49%;
        text-align: center; }
  .header-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: relative; }
  .header-col__left {
    /*колонки*/
    width: 33%;
    text-align: left; }
  .header-col__center {
    width: 30%;
    text-align: center; }
  .header-col__right {
    width: 33%;
    text-align: right; }
  .header-top {
    margin-bottom: .4rem; }
  .header-logo {
    /*логотип*/
    display: block;
    border: none;
    width: 380px;
    padding: .3rem 0;
    margin: 0 auto; }
  .header-menu {
    /*меню*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.8rem; }
    .header-menu__item {
      padding: 1rem; }
      .header-menu__item:first-child {
        padding-left: 0; }
      .header-menu__item:last-child {
        padding-right: 0; }
    .header-menu__link {
      text-transform: lowercase; }
  .header-personal {
    margin-bottom: .5rem; }
  .header-cabinet {
    font-size: 1.3rem;
    text-transform: lowercase;
    margin-right: 1.8rem;
    display: inline-block;
    vertical-align: bottom; }
    .header-cabinet__text {
      color: #9b9696; }
    .header-cabinet:hover a {
      color: #67af26; }
    .header-cabinet:hover .c-icon {
      fill: #67af26; }
  .header-basket {
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    position: relative; }
    .header-basket:hover .header-basket__count {
      -webkit-transform-origin: 0 center;
          -ms-transform-origin: 0 center;
              transform-origin: 0 center;
      -webkit-transform: rotateZ(-6deg);
          -ms-transform: rotate(-6deg);
              transform: rotateZ(-6deg);
      -webkit-transition: all .1s ease-out;
      -o-transition: all .1s ease-out;
      transition: all .1s ease-out; }
    .header-basket__count {
      position: absolute;
      top: -3px;
      left: 85%;
      width: 33px;
      text-align: center;
      color: #fff;
      font-size: 1.1rem;
      -webkit-transition: all .1s ease-out;
      -o-transition: all .1s ease-out;
      transition: all .1s ease-out; }
      .header-basket__count span {
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
  .header-city {
    /*выбор города*/
    font-size: 1.2rem; }
  .header-contact {
    /*правая часть шапки*/
    font-size: 0;
    text-align: right;
    margin-bottom: .2rem; }
  .header-search {
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer; }
  .header-email {
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer; }
  .header-phone {
    display: inline-block;
    cursor: pointer; }
  .header-tel {
    display: inline-block;
    color: #9acc4e;
    font-size: 2.3rem;
    margin-left: 1.9rem;
    border: none; }
  .header-time {
    font-size: 1.2rem;
    margin-bottom: .4rem; }

@-webkit-keyframes leafWaving {
  0%, 67% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  37% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg); } }

@keyframes leafWaving {
  0%, 67% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  37% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg); } }

.icon-menu__transform .icon-menu__line-2 {
  opacity: 0;
  visibility: hidden; }

.icon-menu__transform .icon-menu__line-1 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: -1px; }

.icon-menu__transform .icon-menu__line-3 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 3px;
  left: 0; }

.footer {
  position: absolute;
  z-index: 8;
  bottom: 1.6rem;
  left: 0;
  right: 0;
  will-change: transform;
  background: #fdf7e8 url("../img/bg-header.png") repeat;
  font-family: "PT Serif Caption";
  padding: 2.3rem 0;
  -webkit-box-shadow: 0px 3px 18px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 18px 8px rgba(0, 0, 0, 0.2);
  color: #9b9696; }
  .footer-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-col__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-col__left-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .footer-col__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .footer-col__right-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
  .footer-social {
    margin-right: 2.4rem; }
    .footer-social__title {
      font-size: 1.3rem;
      margin-bottom: 1rem; }
    .footer-social__item {
      border: none; }
  .footer-site-map {
    margin-right: 2.4rem;
    border: none; }
  .footer-search {
    font-size: 0;
    margin-right: .8rem; }
    .footer-search__input {
      display: inline-block;
      border: 2px solid #9b9696;
      outline: none;
      background-color: transparent;
      font-size: 1.2rem;
      color: #9b9696;
      padding: .4rem .8rem;
      border-radius: .4rem;
      width: 190px !important; }
    .footer-search__btn {
      display: inline-block;
      margin-left: .5rem;
      background-color: #7cbd41;
      font-size: 1.1rem;
      color: #fff;
      padding: .6rem 1.5rem;
      border-radius: .4rem;
      text-transform: uppercase;
      cursor: pointer; }
      .footer-search__btn:hover {
        opacity: .9; }
  .footer-info {
    border: none;
    width: 1.9rem;
    height: 1.9rem;
    display: block; }
  .footer-reviews {
    font-size: 0;
    margin-right: 4rem; }
    .footer-reviews__text {
      font-size: 1.4rem;
      margin-right: 1.1rem; }
    .footer-reviews__icons {
      display: inline-block;
      vertical-align: bottom; }
    .footer-reviews__icon {
      display: inline-block;
      margin-right: .8rem;
      border: none;
      vertical-align: bottom; }
  .footer-partners {
    /*блок платежных партнеров*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 2rem; }
    .footer-partners__item {
      margin-right: 1.5rem; }
  .footer-lang__item {
    border: none; }
  .footer-lang .is-active svg {
    fill: #67af26; }

.form_field.default_mod:not(.select_rediz_chosen) {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #555451;
  -webkit-box-shadow: inset 0 0 0 1px #ccc;
          box-shadow: inset 0 0 0 1px #ccc;
  border: none;
  border-radius: 0.5rem; }
  .form_field.default_mod:not(.select_rediz_chosen)::-webkit-input-placeholder {
    color: #555451; }
  .form_field.default_mod:not(.select_rediz_chosen)::-moz-placeholder {
    color: #555451; }
  .form_field.default_mod:-ms-input-placeholder:not(.select_rediz_chosen) {
    color: #555451; }

.form_field.default_mod:not(.select_rediz_chosen):focus {
  -webkit-box-shadow: 0 0 0 1px #555451;
          box-shadow: 0 0 0 1px #555451; }

.form_cell.hidden_field {
  display: none; }

.form_cell_title.hline_hide_mod {
  display: none; }

.form_field_wrap {
  position: relative; }

.preloader {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fdf7e8;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .preloader.done {
    opacity: 0;
    visibility: hidden; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top-color: #9acc4e;
  -webkit-animation: 1s spin infinite linear;
          animation: 1s spin infinite linear; }
  .loader-icon {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

.home-page {
  position: relative;
  height: 100%;
  overflow: hidden; }

.home-cafe:hover,
.home-celebration:hover,
.home-cake:hover {
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
  cursor: pointer; }

.home-cafe {
  position: absolute;
  z-index: 2;
  top: 21%;
  left: 10.5%; }
  .home-cafe:hover .home-cafe__rabbit {
    top: -16.3%; }
  .home-cafe:hover .home-cafe__text {
    z-index: 10;
    -webkit-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
            transform: rotate(8deg);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out; }
  .home-cafe:hover .home-cafe__map {
    z-index: -1;
    -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
            transform: rotate(1deg); }
  .home-cafe__text {
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 8.2%;
    left: 37.2%;
    -webkit-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
            transform: rotate(7deg);
    font-family: "BebasNeue"; }
  .home-cafe__title {
    font-size: 3.5vw;
    font-weight: 300;
    line-height: .9;
    margin-bottom: .1em;
    text-transform: uppercase; }
  .home-cafe__sub-title {
    font-size: 1.6vw;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase; }
  .home-cafe__line {
    position: absolute;
    top: 51%;
    left: 10%;
    fill: #201600;
    width: 91.2%; }
  .home-cafe__bird {
    position: absolute;
    top: 39%;
    left: 9.6%;
    fill: #201600;
    width: 14.5%; }
  .home-cafe__rabbit {
    position: absolute;
    z-index: -1;
    top: -13.3%;
    left: 50.6%;
    fill: #201600;
    width: 10.3%; }
  .home-cafe__auto {
    position: absolute;
    top: -10.8%;
    left: 91.6%;
    fill: #201600;
    width: 18.1%; }
  .home-cafe__plane {
    position: absolute;
    top: 24.4%;
    left: -14%;
    fill: #201600;
    width: 18.2%; }
  .home-cafe__arrow {
    position: absolute;
    top: 18.7%;
    left: 90.4%;
    fill: #201600;
    width: 12%; }
  .home-cafe__map {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto; }

@-webkit-keyframes helloBear {
  0%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  50% {
    -webkit-transform: rotateZ(-14deg);
            transform: rotateZ(-14deg); } }

@keyframes helloBear {
  0%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  50% {
    -webkit-transform: rotateZ(-14deg);
            transform: rotateZ(-14deg); } }

.home-celebration {
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 30%;
  cursor: pointer; }
  .home-celebration:hover .home-celebration__packege {
    z-index: -1;
    -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
            transform: rotate(1deg); }
  .home-celebration:hover .home-celebration__text {
    -webkit-transform: rotate(-22deg);
        -ms-transform: rotate(-22deg);
            transform: rotate(-22deg); }
  .home-celebration:hover .home-celebration__paw-bear {
    -webkit-animation: helloBear 1s infinite linear;
    -o-animation: helloBear 1s infinite linear;
    -webkit-transform-origin: -50% center;
        -ms-transform-origin: -50% center;
            transform-origin: -50% center;
    -webkit-animation: helloBear 3s infinite;
            animation: helloBear 3s infinite; }
  .home-celebration__packege {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto; }
  .home-celebration__star-1 {
    position: absolute;
    bottom: 17%;
    left: 16.8%;
    fill: #201600;
    width: 10%; }
  .home-celebration__star-2 {
    position: absolute;
    bottom: 66%;
    left: 64.2%;
    fill: #201600;
    width: 5.8%; }
  .home-celebration__star-3 {
    position: absolute;
    bottom: 54%;
    left: 81%;
    fill: #201600;
    width: 8.1%; }
  .home-celebration__heart {
    position: absolute;
    top: 4.2%;
    left: 38%;
    fill: #201600;
    width: 14.5%; }
  .home-celebration__bear {
    position: absolute;
    bottom: 19.5%;
    right: -2.6%;
    fill: #201600;
    width: 19%;
    z-index: -1; }
  .home-celebration__paw-bear {
    position: absolute;
    bottom: 16.8%;
    right: 0.5%;
    fill: #201600;
    width: 7.5%;
    z-index: -1; }
  .home-celebration__arrow {
    position: absolute;
    bottom: 40.7%;
    right: 8.8%;
    width: 9.5%; }
  .home-celebration__text {
    text-align: center;
    font-family: "BebasNeue";
    position: absolute;
    z-index: 1;
    bottom: 23.2%;
    left: 36.2%;
    -webkit-transform: rotate(-23deg);
        -ms-transform: rotate(-23deg);
            transform: rotate(-23deg); }
  .home-celebration__title {
    font-size: 3.5vw;
    font-weight: 300;
    line-height: .9;
    margin-bottom: .1em;
    text-transform: uppercase; }
  .home-celebration__sub-title {
    font-size: 1.6vw;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase; }

@-webkit-keyframes bearMoon {
  0%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  50% {
    -webkit-transform: rotateZ(-14deg);
            transform: rotateZ(-14deg); } }

@keyframes bearMoon {
  0%, 100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  50% {
    -webkit-transform: rotateZ(-14deg);
            transform: rotateZ(-14deg); } }

.home-cake {
  position: absolute;
  z-index: 1;
  right: -2.2%;
  top: 4.8%; }
  .home-cake__bg {
    position: relative;
    width: 100%;
    height: auto; }
  .home-cake:hover .home-cake__bear {
    -webkit-animation: bearMoon 1s infinite linear;
    -o-animation: bearMoon 1s infinite linear;
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: bearMoon 3s infinite;
            animation: bearMoon 3s infinite; }
  .home-cake__pie-1 {
    position: absolute;
    z-index: 99;
    bottom: 40.9%;
    left: -4%;
    fill: #201600;
    width: 15.3%; }
  .home-cake__pie-2 {
    position: absolute;
    z-index: 99;
    bottom: .5%;
    right: 18.2%;
    fill: #201600;
    width: 14.4%; }
  .home-cake__brownie {
    position: absolute;
    z-index: 99;
    top: 30.6%;
    right: 20.1%;
    fill: #201600;
    width: 9.8%; }
  .home-cake__bear {
    position: absolute;
    z-index: -1;
    bottom: 7.7%;
    right: 48.4%;
    fill: #201600;
    width: 17%; }
  .home-cake__arrow {
    position: absolute;
    top: 27.4%;
    right: 37.6%;
    width: 7%; }
  .home-cake__text {
    position: absolute;
    top: 10%;
    right: 47.4%;
    fill: #201600;
    width: 46%; }

.popup {
  width: 500px;
  background-color: #FFF;
  overflow: hidden;
  font-family: "PT Serif Caption";
  border-radius: 1rem;
  -webkit-box-shadow: 0 16px 57px 0 rgba(0, 0, 0, 0.47);
          box-shadow: 0 16px 57px 0 rgba(0, 0, 0, 0.47);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  margin: 0 auto; }
  .popup-close {
    position: absolute;
    right: 1.5rem;
    bottom: 0;
    padding: 1.4rem 1.6rem 3.5rem;
    border-radius: 50px 50px 0 0;
    background: #fff url(../img/icons/icon-close.svg) no-repeat 50% 46%;
    background-size: 10px 11px;
    cursor: pointer; }
  .popup-body {
    padding: 3rem 6rem 4.5rem;
    position: relative;
    z-index: 10; }
  .popup-back {
    display: none;
    vertical-align: middle; }
  .popup-title {
    position: relative;
    text-align: center;
    color: #555451;
    background-color: #fdf7e8;
    font-size: 2.3rem;
    padding: 1.8rem 0 1.4rem; }
    .popup-title__layout {
      font-size: 0; }
    .popup-title__btn {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #9b9696;
      border-color: #9b9696;
      margin: 0 2.2rem;
      position: relative; }
      .popup-title__btn:last-child {
        margin-right: 0;
        border: none; }
      .popup-title__btn:first-child {
        margin-left: 0; }
        .popup-title__btn:first-child::after {
          content: '';
          position: absolute;
          top: 5px;
          right: -2.2rem;
          width: .1rem;
          height: 1rem;
          background-color: #9b9696; }
      .popup-title__btn.active {
        color: #555451;
        border-color: #555451; }
      .popup-title__btn.active:hover {
        border-bottom: 1px dotted #555451; }
  .popup-form__item {
    margin-bottom: 1.6rem;
    text-align: left; }
    .popup-form__item:last-child {
      margin-bottom: 0; }
  .popup input, .popup textarea {
    font-family: "PT Serif Caption"; }
  .popup-info {
    font-size: 1.2rem;
    color: #9b9696; }
  .popup .c-personal-data {
    width: 76%; }
  .popup-forgot-password {
    font-size: 1.2rem;
    color: #555451;
    margin-left: 3rem; }
  .popup-new-user {
    font-size: 1.3rem;
    color: #9b9696; }
    .popup-new-user a {
      color: #555451; }

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.popup__write-to-us .icon-berry {
  position: absolute;
  bottom: 2.6%;
  right: 7.4%;
  width: 17%;
  height: 101px; }

.popup__request-call .icon-bird-down {
  position: absolute;
  bottom: 0;
  right: 27.4%;
  width: 15%; }

.popup__request-call .icon-giraffe {
  position: absolute;
  bottom: -2.1%;
  right: -3.8%;
  width: 22%; }

.popup .popup-bg__img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0rem; }

.popup__request-call .mobile-request-call {
  display: none;
  text-align: left; }
  .popup__request-call .mobile-request-call_sub-title {
    font-size: 1.3rem;
    color: #555451; }
  .popup__request-call .mobile-request-call_city {
    font-size: 1.6rem;
    color: #9b806f;
    margin-bottom: 2.4rem;
    vertical-align: middle;
    cursor: pointer; }
  .popup__request-call .mobile-request-call__icon {
    display: inline-block;
    vertical-align: middle; }
    .popup__request-call .mobile-request-call__icon img {
      width: 22px; }
  .popup__request-call .mobile-request-call__phone {
    padding: 1.6rem 0;
    border-top: 1px solid #e9e0cb;
    border-bottom: 1px solid #e9e0cb;
    position: relative;
    margin-bottom: 2.4rem; }
    .popup__request-call .mobile-request-call__phone-number {
      font-size: 1.6rem;
      color: #555451; }
    .popup__request-call .mobile-request-call__phone-icon {
      position: absolute;
      right: 0;
      top: 1rem; }
  .popup__request-call .mobile-request-call_inquiry {
    font-size: 1.3rem;
    color: #555451;
    border: none;
    cursor: pointer; }

.popup-request-city {
  opacity: 0;
  visibility: hidden;
  padding: 1.3rem;
  border-radius: .6rem;
  background-color: #fff;
  margin: 1rem;
  width: 93vw;
  position: fixed;
  z-index: 999999;
  top: 0;
  -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.6); }
  .popup-request-city__item {
    position: relative;
    margin-bottom: .5rem;
    width: 100%; }
  .popup-request-city__link {
    display: block;
    width: 100%;
    padding: .7rem 1rem;
    font-size: 2.3rem;
    font-family: "BebasNeue";
    background-color: #fdf7e8;
    border-radius: .4rem;
    border: none;
    text-transform: uppercase; }
    .popup-request-city__link:hover {
      background-color: #67af26;
      color: #fff; }
  .popup-request-city__icon {
    position: absolute;
    top: 1rem;
    right: .7rem; }

.popup-authorization .icon-bird-up {
  position: absolute;
  bottom: 0;
  right: 25.4%;
  width: 15%; }

.popup-authorization .popup-title {
  padding: 2.3rem 6rem 2.3rem;
  text-align: left; }

.popup-reg .icon-bird-up {
  position: absolute;
  bottom: 0;
  right: 25.4%;
  width: 15%; }

.popup-reg .popup-title {
  padding: 2.3rem 6rem 2.3rem;
  text-align: left; }

.popup-city .popup {
  width: 620px; }

.popup-city__title-text {
  font-size: 1.3rem;
  color: #555451; }

.popup-city__title-place {
  font-size: 1.8rem;
  color: #9b806f; }

.popup-city__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: "BebasNeue"; }

.popup-city__item {
  width: 50%;
  padding: 2px; }

.popup-city__text {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1;
  color: #555451;
  margin: 1.4rem 0;
  font-weight: 700;
  position: relative;
  z-index: 2; }
  .popup-city__text span {
    background-color: #fff;
    padding: 0 1.5rem; }
  .popup-city__text::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cec9c0; }

.popup-city__link {
  border: none;
  font-size: 2.5rem;
  padding: .7rem .9rem;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f3efe4; }
  .popup-city__link:hover {
    color: #fff;
    background-color: #7cbd41; }

.popup-basket {
  opacity: 0;
  visibility: hidden;
  width: 25.5rem;
  position: absolute;
  z-index: 99999;
  top: -9px;
  left: 0;
  background-color: #fff;
  padding: 1.4rem 1.5rem;
  font-family: "PT Serif Caption";
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: 0 5px 29px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 29px 0 rgba(0, 0, 0, 0.25);
  /*карточка в попаке корзины*/ }
  .popup-basket .header-basket {
    position: absolute;
    top: 1%;
    right: 31%; }
  .popup-basket__title {
    color: #231300;
    font-size: 1.5rem;
    margin-bottom: .6rem; }
  .popup-basket__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    background: url(../img/icons/icon-close.svg) no-repeat 50% 50%; }
  .popup-basket__top {
    font-size: 1.2rem;
    color: #9b9696;
    margin: 1rem 0; }
  .popup-basket__scroll {
    position: relative;
    height: calc(100vh - 190px); }
  .popup-basket__all-sum {
    font-size: 1.4rem;
    color: #555451;
    font-weight: 700; }
  .popup-basket .c-button {
    width: 100%;
    margin-bottom: 1rem; }
  .popup-basket__list {
    border-top: 1px solid #555451; }
  .popup-basket__item {
    border-bottom: 1px solid #555451;
    padding: 1rem 0;
    padding-right: .4rem; }
    .popup-basket__item:last-child {
      border-bottom: none; }
  .popup-basket-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .popup-basket-card__close {
      position: absolute;
      top: 0;
      right: 2px;
      cursor: pointer;
      background: url(../img/icons/icon-basket__close.png) 0 0 no-repeat;
      width: 1.2rem;
      height: 1.8rem; }
    .popup-basket-card__grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .popup-basket-card__img {
      margin-right: 1rem;
      border: 1px solid #9b9696;
      border-radius: .4rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .popup-basket-card__img-layout {
        width: 8.6rem;
        height: 7.3rem;
        overflow: hidden;
        position: relative; }
      .popup-basket-card__img img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 95%;
        height: auto; }
      .popup-basket-card__img img.foto {
        width: auto;
        height: auto; }
    .popup-basket-card__body {
      overflow: hidden; }
    .popup-basket-card__title {
      font-size: 1.2rem;
      color: #555451;
      padding-right: 2rem;
      margin-bottom: .4rem; }
    .popup-basket-card__list {
      font-size: 1.2rem;
      color: #555451;
      margin-bottom: 1rem; }
    .popup-basket-card__item::before {
      content: '✓';
      margin-right: .4rem; }
    .popup-basket-card .c-counter {
      width: 5.2rem;
      display: inline-block; }
    .popup-basket-card__footer {
      width: 11.3rem;
      text-align: justify;
      font-size: 0; }
      .popup-basket-card__footer::after {
        content: '';
        display: inline-block;
        width: 100%; }
    .popup-basket-card__price {
      display: inline-block;
      color: #555451;
      font-size: 1.3rem;
      font-weight: 700; }
    .popup-basket-card__attribute {
      font-size: 1.2rem;
      color: #9b9696;
      margin-bottom: .6rem; }
      .popup-basket-card__attribute-value {
        color: #555451; }
    .popup-basket-card__date {
      font-size: 1.2rem;
      background-color: #fdf7e8;
      padding: .6rem;
      border-radius: .2rem;
      margin-bottom: .6rem; }
      .popup-basket-card__date img {
        vertical-align: middle; }
  .popup-basket__footer {
    padding: 0 1.4rem;
    text-align: center;
    margin-right: 2px; }
    .popup-basket__footer a {
      font-size: 1.2rem;
      color: #9b9696;
      border: none; }

/*----------------------------------------------*/
#tooltip {
  text-align: center;
  color: #fff;
  background: #91c346;
  font-size: 1.3rem;
  position: absolute;
  border-radius: .4rem;
  z-index: 100;
  padding: .8rem 1rem;
  max-width: 200px !important; }

#tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #91c346;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px; }

#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid #91c346;
  top: -20px;
  bottom: auto; }

#tooltip.left:after {
  left: 10px;
  margin: 0; }

#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0; }

/*----------------------------------------------*/
/*тестирование попапа*/
.fixed-overlay {
  position: fixed;
  z-index: -1;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.fixed-overlay__layout {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.fixed-overlay__layout::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.popup-bg {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .4;
  width: 100%;
  height: 100%;
  visibility: visible; }

.modal {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left; }

.test {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 45%;
  width: 100px;
  height: 50px;
  background-color: #fff; }

/*
*
*
test popup
**/
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px; }

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  filter: alpha(opacity=80);
  /*display: none;*/
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: 0 !important;
  -webkit-backface-visibility: hidden;
  /*display: none;*/
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative; }

/*popup show*/
.popup-show {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-animation: scaleUp 0.2s;
  animation: scaleUp 0.2s; }

.popup-slide__show {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-animation: slideDown 0.2s;
  animation: slideDown 0.2s; }

.is-visible {
  opacity: 1 !important;
  visibility: visible; }

.body-popup {
  overflow: hidden !important;
  padding-right: 16px; }

.header-top__hide {
  -webkit-transform: translateY(-43px);
      -ms-transform: translateY(-43px);
          transform: translateY(-43px); }

.header-top__no-hide {
  -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
          transform: translateY(0) !important; }
