.mobile-celebration__text,
.mobile-cake__text,
.mobile-cafe__text {
    display: none;
}

/*------------------------------------------------custom popup###*/
@media (min-width:1920px) {
    .home-page {
        width: 1920px;
        margin: 0 auto;
    }
}

@media (max-width:1820px) {
    .home-cafe {
        width: 28%;
        left: 3.8%;
        top: 26%;
    }

    .home-celebration {
        width: 36%;
    }

    .home-cake {
        width: 49%;
        top: 7.8%;
    //top: 7.8%;
    }
}


@media (max-width:1380px) {
    .home-cafe {
        width: 26%;
        top: 28%;
    }

    .home-celebration {
        width: 34%;
        bottom: 4%;
    }

    .home-cake {
        width: 43%;
        top: 12.8%;
    }

    .footer {
        bottom: 0;
    }

    .header-col__center {
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        height: 5rem;
    }

    .header-logo {
        width: auto;
    }

    .header-logo__mobile {
        display: none;
    }


    .header-col__left,
    .header-col__right {
        width: 46%;
    }

    .header-col__right .header-top {
        margin-bottom: 0;
    }
}

@media (max-width:1040px) {
    .header-col__left,
    .header-col__right {
        width: 48%;
    }

    .footer-col__left {
        margin-bottom: 1rem;
    }

    .footer-layout {
        flex-flow: column nowrap;
    }

    .home-celebration {
        bottom: 7%;
    }

    .footer-reviews {
        margin-right: .5rem;
    }

    .icon-logo {
        width: 19rem;
        height: 3.9rem;
    }
}

@media (min-width:1940px) and (min-height: 1200px) {
    .home-cafe {
        width: 29%;
    }

    .home-cake {
        width: 50%;
    }

    .home-celebration {
        width: 40%;
    }
    .home-celebration__title,
    .home-cafe__title {
        font-size: 3.8vw;
    }

    .home-celebration__sub-title,
    .home-cafe__sub-title {
        font-size: 1.9vw;
    }
}



@media (max-height:920px) {
    .home-cafe {
        width: 26%;
        top: 28%;
    }

    .home-celebration {
        width: 34%;
        bottom: 5%;
    }

    .home-cake {
        width: 43%;
        top: 12.8%;
        right: -6.2%;
    }

    .footer {
        bottom: 0;
    }
}

@media (max-width:1026px) {
    .home-cafe {
        width: 26%;
        top: 28%;
    }

    .home-celebration {
        width: 34%;
        bottom: 10%;
    }

    .home-cake {
        width: 43%;
        top: 17.8%;
    }

    .header {
        padding: .5rem 0 0;
    }

    .header-menu {
        display: none;
    }

    .header-city,
    .header-time,
    .header-tel,
    .header-cabinet,
    .header-search {
        display: none;
    }

    .header-logo {
        padding: 0;
        width: 19rem;
    }

    /*новые стили для мобильного*/
    .header-mobile__top,
    .header-mobile__bottom {
        display: block;
    }

    .header-layout {
        padding: .9rem 0 0;
    }

    /*сбрасываем контент в скрол*/
    .footer {
        position: relative;
    }

    html,
    body,
    .home-page {
        height: auto;
    }

    .home-page {
        padding-top: 19rem;
        display: flex;
        flex-flow: column nowrap;

    }

    .home-cafe {
        width: 48%;
    }

    .mobile-item {
        margin: 2rem 0;
        height: 34rem;
        position: relative;
    }
    .mobile-item:nth-child(2) {
        height: 18rem;
    }

    .mobile-item:last-child {
        height: 40rem;
    }

    .mobile-celebration__text,
    .mobile-cake__text,
    .mobile-cafe__text {
        display: block;
    }


    .home-cake__text,
    .home-celebration__text,
    .home-cafe__text {
        display: none;
    }

    .mobile-celebration__text,
    .mobile-cake__text,
    .mobile-cafe__text {
        position: absolute;
        z-index: 99;
    }

    .mobile-cake__title,
    .mobile-celebration__title,
    .mobile-cafe__title {
        text-align: center;
        font-family: 'BebasNeue', sans-serif;
        font-size: 6rem;
        font-weight: 300;
        line-height: .9;
        color: #231300;
    }

    .mobile-cake__sub-title,
    .mobile-celebration__sub-title,
    .mobile-cafe__sub-title {
        text-align: center;
        font-family: 'BebasNeue', sans-serif;
        font-weight: 700;
        font-size: 3rem;
        text-transform: uppercase;
        line-height: 1;
        color: #231300;
    }

    .mobile-cafe__text {
        top: -4%;
        left: 11%;
    }

    .mobile-celebration__text {
        bottom: 15%;
        right: 27%;
    }

    .mobile-cake__text {
        top: 37%;
        left: 19%;
    }

    /*прячем зеленые указатели на главной и добавляем их к тексту*/

    .home-celebration__arrow,
    .home-cake__arrow,
    .home-cafe__arrow {
        display: none;
    }

    .mobile-text__arrow {
        margin-top: .9rem;
        display: block;
        text-align: center;
    }

    .mobile-celebration__text .mobile-text__arrow {
        transform: rotate(180deg);
    }

    .home-cafe {
        left: auto;
        right: 0;
        top: -39%;
        width: 40rem;
    }

    .home-cafe__plane {
        display: none;
    }

    .home-celebration {
        transform: rotate(90deg);
        width: 40rem;
        bottom: -49%;
        left: -6%;
    }

    .home-celebration__heart {
        display: none;
    }

    .home-celebration:hover {
        transform: rotate(90deg);
    }

    .home-cake {
        width: 78rem;
        top: -43.2%;
        right: -47%;
    }

    .popup-basket {
        top: -39px;
    }
}

@media (max-width:800px) {
    .mobile-cake__text {
        left: 3%;
    }

    .mobile-celebration__text {
        right: 20%;
    }
}

@media (max-width:730px) {
    .home-cafe {
        right: -9%;
        top: -5%;
    }

    .home-celebration {
        transform: rotate(74deg);
        left: -13%;
        bottom: -8%;
    }
    .home-celebration:hover {
        transform: rotate(74deg);
    }

    .mobile-celebration__text {
        bottom: 29%;
    }


    .home-cake {
        top: -50.2%;
        right: -64%;
    }
}

@media (max-width:780px) {
    .home-cafe {
        transform: rotate(17deg);
        top: -37%;
        width: 35rem;
    }
    .home-cafe:hover {
        transform: rotate(17deg);
    }
}

@media (max-width:760px) {
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin: 0;
        overflow-y: scroll;
    }

    .popup .l-button {
        text-align: justify;
    }

    /*.popup::after {*/
         /*content: '';*/
         /*width: 100%;*/
         /*display: inline-block;*/
    /*}*/

    .popup-back {
        display: inline-block;
    }
}


@media (max-width:640px) {
    .home-cafe {
        right: -19%;
    }

    .home-celebration {
        transform: rotate(74deg);
        left: -23%;
        bottom: -8%;
    }
    .home-celebration:hover {
        transform: rotate(74deg);
    }

    .mobile-celebration__text {
        bottom: 48%;
    }

    .home-cake__pie-1 {
        bottom: 3.9%;
        left: 5%;
        transform: rotate(-29deg);
    }

    .mobile-cake__text {
        top: 21%;
    }

    .home-cake {
        top: -50.2%;
        right: -74%;
    }

    /*.popup-title {*/
        /*padding-left: 1.6rem;*/
        /*padding-right: 1.6rem;*/
    /*}*/
    /*.popup-reg .popup-title {*/
        /*padding-left: 1.6rem;*/
        /*padding-right: 1.6rem;*/
    /*}*/
    .popup-title {
        text-align: left;
    }
    .popup-title__btn {
        font-size: 1.3rem;
        margin: 0 1.2rem;
    }
    .popup-title__btn:first-child::after {
        right: -1.5rem;
    }

    .popup-title,
    .popup-reg .popup-title,
    .popup-authorization .popup-title,
    .popup-body {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
}


@media (max-width:540px) {
    .home-cafe {
        right: -36%;
        top: -36%;
    }

    .home-celebration {
        transform: rotate(46deg);
        left: -41%;
        bottom: 9%;
    }
    .home-celebration:hover {
        transform: rotate(46deg);
    }

    .mobile-celebration__text {
        right: 12%;
    }

    .home-cake__pie-1 {
        bottom: -7.1%;
        left: 10%;
    }

    .mobile-cake__text {
        top: 25%;
    }

    .home-cake {
        right: -105%;
    }
}


@media (max-width:540px) {

    .header {
        padding: 1rem 0 0;
    }

    .header-layout {
        padding: 1.8rem 0 1rem;
    }

    .header-mobile__top {
        padding: 0 0 .8rem;
    }

    .header-mobile__auth {
        padding: .5rem 0;
    }
}

@media (max-width:540px) {
    .footer-layout,
    .footer-col__left,
    .footer-col__right {
       align-items: flex-start;
        justify-content: flex-start;
    }

    .footer-col__left-item:first-child {
        margin-bottom: 1.6rem;
    }

    .footer-col__left-item:last-child {
        margin-bottom: .4rem;
    }

    .footer-reviews {
        position: absolute;
        top: -.8rem;
        right: 0rem;
        width: 12.4rem;
    }

    .footer-reviews__text {
        position: absolute;
        width: 6.3rem;
        top: -.4rem;
        right: 0;
    }

    .footer-reviews__icons {
        position: absolute;
        top: 0;
        left: 0;
    }

    .footer-search {
        width: 94%;
    }

    .footer-search__input {
        width: calc(100% - 120px) !important;
    }

    .footer-info {
        width: 6%;
        text-align: right;
    }

    .footer-partners {
        margin-right: 0;
    }

    .footer-col__left-item,
    .footer-col__right-item {
        width: 100%;
    }

    .footer-col__left,
    .footer-col__right {
        flex-direction: column;
        width: 100%;
    }

    .c-layout{
        padding: 0 1.6rem;
    }

    .popup__request-call .mobile-request-call {
        display: block;
    }
    .popup__request-call .mobile-request-call__form {
        display: none;
    }
}


@media (max-width:470px) {
    .mobile-cafe__title,
    .mobile-celebration__title,
    .mobile-cake__title {
        font-size: 2.8em;
    }

    .mobile-cafe__sub-title,
    .mobile-celebration__sub-title,
    .mobile-cake__sub-title {
        font-size: 2rem;
    }
}

@media (max-width:440px) {
    .header-col__center {
        left: 36%;
    }

    .header-mobile__auth-btn {
        /*width: auto;*/
    }

    #mobile-reg {
        padding: 1.4rem 0;
        width: 61%;
    }
    #mobile-auth {
        padding: 1.4rem 0;
        width: 37%;
    }

}


@media (max-width:430px) {
    .home-cafe {
        /*right: -58%;*/
    }

    .home-celebration {
        transform: rotate(37deg);
        left: -59%;
    }
    .home-celebration:hover {
        transform: rotate(37deg);
    }

    .home-cake {
        right: -124%;
    }

    .home-cake__pie-1 {
        bottom: 3.9%;
        left: 5%;
        transform: rotate(-29deg);
    }

    .header-mobile__dropdown {
        position: fixed;
        top: 43px;
        left: 0;
        width: 100%;
    }

    .header-mobile__dropdown {
        box-shadow: none;
    }

    .header-mobile__dropdown-close {
        display: block;
        padding: 1.4rem 1.6rem 3.5rem;
        border-radius: 0 0 50px 50px;
        position: absolute;
        z-index: 9999;
        width: 10px;
        height: 10px;
        right: 9px;
        top: 0;
        background: url(../img/icons/icon-close.svg) no-repeat 50% 46%;
        border: 1px solid #9b806f;
        border-top: transparent;
        background-size: 10px 11px;
        cursor: pointer;
    }
}


@media (max-width:370px) {
    .home-cafe {
        right: -52%;
        transform: rotate(17deg);
        top: -27%;
        width: 35rem;
    }

    .home-cafe:hover {
        transform: rotate(17deg);
    }

    .home-celebration {
        bottom: 26%;
        left: -85%;
        width: 47rem;
    }

    .home-cake {
        top: -31%;
        right: -100%;
        width: 56rem;
    }

    .home-cake__pie-1 {
        bottom: 2.9%;
        left: 2%;
        transform: rotate(-15deg);
    }

    .mobile-item:nth-child(2) {
        height: 16rem;
    }

    .mobile-item:last-child {
        height: 32rem;
    }

    .home-celebration__star-3 {
        bottom: 34%;
        left: 104%;
    }

    .home-cake__brownie {;
        top: 0;
        right: 73.1%;
    }
}

@media (max-height:640px) {
    .header-mobile__dropdown {
        /*height: 460px;*/
        /*overflow-y: scroll;*/
    }
}

@media (max-width:320px) {
    .popup-basket {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }

    .popup-basket-card__footer {
        width: 17.3rem;
    }

    .popup-basket-card {
        width: 27.8rem;
    }

    .popup-basket__scroll {
        height: calc(100vh - 152px);
        margin-right: -6px;
    }

    .home-cafe {
        right: -62%;
    }

    .home-celebration {
        left: -92%;
    }

    .home-cake {
        right: -121%;
    }
}

/**/
.header-mobile__bottom {
    background-color: #eee;
}