//------------------------------------------------------------base styles
html {
    height: 100%;
    font: 400 10px/1.33 $font_1;
}

//.home-body {
//    height: 100%;
//}

body {
    position: relative;
    height: 100%;
    font-size: $font_size_base;
    color: $color_text_base;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $home-page_bg;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    overflow: hidden;
    //padding-bottom: 8rem;
}

.base {
    position: relative;
    padding: $height_header 0 $height_footer;
}

//-------------------------------------------------preloader*/


.preloader {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    //background-color: #333;
    //background: #fdf7e8 url(../img/bg-header.png) repeat;
    background: #fdf7e8;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-out;

    &.done {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-top-color: $color_brand;
    animation: 1s spin infinite linear;

    &-icon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

a {
    position: relative;
    text-decoration: none;
    color: $color_link_base;

    &::after {
        content: '';
        position: absolute;
        bottom: -.1rem;
        left: 0;
        width: 100%;
        border-bottom: 1px dotted $color_link_base;
    }
    @extend %transition_all;
    &:hover,
    &:focus {
        color: $color_brand;
        border: none;
        @extend %transition_all;

        &::after {
            content: '';
            border: none;
        }
    }
}

.elements_list {
    padding: 3rem;
}

//------------------------------------------------------------base styles###

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {
    font-family: $font_serif;
}

//------------------------------------------------------------form
.wrapper input[type="text"],
.wrapper input[type="password"],
.wrapper input[type="search"],
.wrapper textarea,
.popup input[type="text"],
.popup input[type="password"],
.popup input[type="search"],
.popup textarea {
    width: 100%;
}

.wrapper input[type="checkbox"],
.popup input[type="checkbox"] {
    display: none;
}

.popup button:disabled {
    opacity: .4;
    cursor: auto;
}

.popup button:disabled:hover {
    opacity: .4;
}

.c-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 2.9rem;
    font-size: 1.2rem;
    line-height: 1.3;
    color: $color_text_base;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1.7rem;
        height: 1.7rem;
        border-radius: .4rem;
        border: 1px solid $color_link_base;
    }
}

input[type="checkbox"]:checked + .c-checkbox::after {
    content: '';
    position: absolute;
    top: .37rem;
    left: .49rem;
    width: .8rem;
    height: .8rem;
    background: url(../img/icons/icon-chek.svg) no-repeat 50% 50%;
}

.c-input {
    display: block;
    border: 1px solid $color_link_base;
    outline: none;
    //border: none;
    //box-shadow: 0 0 0 1px $color_link_base;
    @extend %transition_all;
    border-radius: .4rem;
    padding: 1.3rem 1.6rem;
    font-size: 1.3rem;
    color: $color_text_bg;
    //color: $black;
    //background-color: #fff;
    background-color: transparent;

    background-color: rgba(255, 255, 255, .5);

    &:focus {
        border-color: $color_brand;
        box-shadow: 0 0 10px 0 $color_brand;
        @extend %transition_all
    }
}

.c-label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: $color_text_base;
}

.c-personal-data {
    margin-bottom: 1.9rem;

    &__item {
        margin-bottom: .6rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.c-counter {
    border-radius: .2rem;
    border: 1px solid $color_text_bg;
    font-family: $font_serif;
    position: relative;
    font-size: 0;

    &__field {
        border: none;
        background-color: $white;
        outline: none;
        text-align: center;
        //padding: 0 1.2rem;
        display: inline-block;
        width: 50% !important;
    }

    &__btn {
        font-size: 1.2rem;
        color: $black;
        display: inline-block;
        //top: .5rem;
        padding: .4rem 0;
        text-align: center;
        width: 25%;
        cursor: pointer;
    }

    .dec {
        left: .6rem;
    }
    .inc {
        right: .6rem;
    }
}

//icons------------------------------------------------------------
.c-icon {
    &.is-active {
        fill: $color_brand;
    }

    &:hover {
        fill: #67af26;
        @extend %transition_all;
        cursor: pointer;
    }
}

.icon-logo {
    position: relative;
    width: 38rem;
    height: 7.9rem;
    cursor: pointer;
}

.icon-basket {
    position: relative;
    width: 22px;
    height: 23px;
    fill: $color_text_bg;
}

.icon-cabinet {
    position: relative;
    width: 19px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: bottom;
}

.icon-phone {
    position: relative;
    width: 16px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: bottom;
}

.icon-email {
    position: relative;
    width: 19px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: bottom;
}

.icon-mail {
    display: inline-block;
    width: 1.8rem;
    height: 1.6rem;
    background: url(../img/icons/icon-email.svg) 0 0 no-repeat;
}

.icon-mail {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    background: url(../img/icons/icon-clock.svg) 0 0 no-repeat;
}

.icon-search {
    position: relative;
    width: 20px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: bottom;
}

.icon-vk {
    position: relative;
    width: 21px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: top;
}

.icon-fb {
    position: relative;
    width: 18px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: top;
}

.icon-o {
    position: relative;
    width: 20px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: top;
}

.icon-site-map {
    position: relative;
    width: 21px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: top;
}

.icon-info {
    position: relative;
    width: 19px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: top;
}

.icon-ru {
    position: relative;
    width: 19px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: top;
}

.icon-en {
    position: relative;
    width: 19px;
    height: 19px;
    fill: $color_text_bg;
    vertical-align: top;
}

.logo-uniteller {
    position: relative;
    width: 39px;
    height: 25px;
    vertical-align: top;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(../img/logo-uniteller.svg);
}

.logo-mir {
    position: relative;
    width: 56px;
    height: 16px;
    vertical-align: top;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(../img/logo-mir.svg);
}

.logo-visa {
    position: relative;
    width: 95px;
    height: 23px;
    vertical-align: top;
    background-image: url(../img/logo-visa-mastercard.svg);
}

.icon-positive {
    position: relative;
    width: 17px;
    height: 27px;
    fill: $color_text_bg;
    vertical-align: bottom;
}
.icon-rabbit-positive{
    display: inline-block;
    width: 2.2rem;
    height: 3.1rem;
    background: url(../img/icons/icon-positive.svg) 0 0 no-repeat;
}

.icon-negative {
    position: relative;
    width: 17px;
    height: 27px;
    fill: $color_text_bg;
    vertical-align: bottom;
}

.icon-city {
    position: relative;
    width: 15px;
    height: 21px;
    fill: $color_text_bg;
    vertical-align: bottom;
}

.icon-menu {
    position: relative;
    width: 18px;
    fill: $color_text_bg;
    vertical-align: bottom;
}

.icon-search-mobile {
    display: none;
    position: relative;
    width: 11px;
    fill: $color_text_bg;
    vertical-align: bottom;
}

.icon-pencil {
    width: 23px;
    fill: $color_text_bg;
}

.icon-candy {
    width: 3.5rem;
    fill: $color_text_bg;
}

.icon-cake-menu {
    width: 1.9rem;
    fill: $color_text_bg;
}

.icon-house {
    display: block;
    width: 2.2rem;
    height: 1.9rem;
    fill: $color_text_bg;
}

.icon-arr-right {
    width: .6rem;
    height: .9rem;
    background: url(../img/icons/icon-arr-right.svg) 0 0 no-repeat;
}

.icon-dropdown {
    display: inline-block;
    border: .1rem solid $white;
    border-radius: 2.3rem;
    width: 2.3rem;
    height: 2.3rem;
    position: relative;
    vertical-align: middle;
}

.icon-dropdown__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1.1rem;
    height: .6rem;
    fill: $white;
}

.icon-dropdown__down {

}

.icon-dropdown__right {

}

.icon-dropdown__left {

}

.icon-filter {
    display: inline-block;
    width: 1.3rem;
    height: 1.1rem;
    background: url(../img/icons/icon-filter.svg) 0 0 no-repeat;
}

.advantages-coffe {
    display: inline-block;
    width: 2rem;
    height: 1.4rem;
    vertical-align: middle;
    background: url(../img/icons/icon-coffe.svg) 50% 50% no-repeat;
}

.advantages-guests {
    display: inline-block;
    width: 2.5rem;
    height: 1.4rem;
    background: url(../img/icons/icon-veranda.svg) 50% 50% no-repeat;
    //margin: 0 .5em .4rem 0;
}

.advantages-teddy {
    display: inline-block;
    width: 1rem;
    height: 1.5rem;
    vertical-align: middle;
    background: url(../img/icons/icon-teddy-bear.svg) 50% 50% no-repeat;
}

.advantages-nipple {
    display: inline-block;
    width: 1.5rem;
    height: 1.6rem;
    vertical-align: middle;
    background: url(../img/icons/icon-nipple.svg) 50% 50% no-repeat;
}

.advantages-balloon {
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    vertical-align: middle;
    background: url(../img/icons/icon-balloon.svg) 50% 50% no-repeat;
}

.advantages-umbrella {
    display: inline-block;
    width: 1.7rem;
    height: 1.5rem;
    vertical-align: middle;
    background: url(../img/icons/icon-umbrella.svg) 50% 50% no-repeat;
}

.advantages-bottle {
    display: inline-block;
    width: 1.5rem;
    height: 1.6rem;
    vertical-align: middle;
    background: url(../img/icons/icon-bottle.svg) 50% 50% no-repeat;
}

.icon-phoneNumber {
    display: inline-block;
    width: 1.7rem;
    height: 1.8rem;
    background: url(../img/icons/icon-phone.svg) 50% 50% no-repeat;
}

.icon-place {
    display: inline-block;
    width: .9rem;
    height: 1.2rem;
    background: url(../img/icons/icon-city.svg) 50% 50% no-repeat;
}

.icon-a {
    display: inline-block;
    width: 1.2rem;
    height: 1rem;
    background: url(../img/icons/icon-a.svg) 50% 50% no-repeat;
}

.icon-arr-down {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background: url(../img/icons/icon-arr-down.svg) 0 0 no-repeat;
}

.icon-reset {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    fill: $color_text_bg;
}

.icon-uneven-circle {
    display: inline-block;
    width: 4.9rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    background: url(../img/icons/icon-uneven-circle.svg) 50% 50% no-repeat;
}
i.icon-chair {
    display: inline-block;
    width: 1.3rem;
    height: 1.8rem;
    background: url(../img/icons/icon-chair.svg) 50% 50% no-repeat;
}

.icon-tour {

}

.icon-mark {
    display: inline-block;
    width: 1.4rem;
    height: 1.9rem;
    background: url(../img/icons/icon-mark.svg) 50% 50% no-repeat;
}

.icon-calendar-2 {
    display: inline-block;
    width: 2.1rem;
    height: 1.9rem;
    background: url(../img/icons/icon-calendar-2.svg) 50% 50% no-repeat;
    vertical-align: middle;
}

.icon-toy {
    display: inline-block;
    width: 1.3rem;
    height: 1.4rem;
    background: url(../img/icons/icon-toy.svg) 50% 50% no-repeat;
    vertical-align: middle;
}

.icon-glasses {
    display: inline-block;
    width: 1.9rem;
    height: 1.7rem;
    background: url(../img/icons/icon-glasses.svg) 50% 50% no-repeat;
    vertical-align: middle;
}


@media screen and (min-width: 1600px) {
    .c-layout {
        position: relative;
        width: 1600px;
        margin: 0 auto;

        &::after {
            content: '';
            clear: both;
            display: table;
        }
    }
}

@media screen and (max-width: 1600px) {
    .c-layout {
        position: relative;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 22px;

        &::after {
            content: '';
            clear: both;
            display: table;
        }
    }
}

//------------------------------------------------------------buttons
.l-button {

    &__left {
        text-align: left;
    }

    &__right {
        text-align: right;
    }
    &__center {
        text-align: center;
    }
}

.c-button {
    border-radius: .4rem;
    border: none;
    outline: none;
    cursor: pointer;
    @extend %transition_all;

    &::after {
        content: '';
        border: none;
    }

    &__default {
        padding: 1.4rem 3.4rem;
        background-color: $color_btn;
        font-family: $font_serif;
        font-size: 1.4rem;
        line-height: 1;
        color: $white;
        text-transform: uppercase;

        display: inline-block;
    }

    &__small {
        padding: .6rem 1.4rem;
        background-color: $color_btn;
        font-family: $font_serif;
        font-size: 1.4rem;
        line-height: 1;
        color: $white;
        text-transform: lowercase;
        display: inline-block;

        &:hover {
            color: $white;
        }
    }

    &__big {
        display: inline-block;
        background: url(../img/bg-reviews__bg.jpg) 0 0 no-repeat;
        font-family: $font_serif;
        font-size: 1.3rem;
        line-height: 1;
        color: $white;
        text-transform: uppercase;
        border-radius: .6rem;
        overflow: hidden;

        &-layout {
            display: block;
            padding: 1.2rem 0 1.2rem;
            background-color: rgba(129, 199, 29, 0.87);
        }

        &-text {
            display: block;
            text-align: center;
            color: $white;
            padding:.8rem 2.3rem .8rem;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }

        &::after {
            content: '';
            border: none;
        }

        &:hover {
            color: $white;
        }
    }

    &__width {
        display: block;
        padding: 1.4rem 5.4rem;
        background-color: $color_btn;
        font-family: $font_serif;
        font-size: 1.4rem;
        line-height: 1;
        color: $white;
        text-transform: uppercase;
    }

    &:hover {
        opacity: .9;
        @extend %transition_all;
    }

    &--dark {
        background-color: $color_dark-active;
    }

}

.c-obligatory-field {
    color: $color_link_error;
    font-size: 1.4rem;
}

//c-reviews--------------------------------------------------

.c-reviews {

    &-positive {
        margin-top: -30px;
    }

    &-negative {
        margin-top: 30px;
    }

    &__item {
        position: fixed;
        z-index: 99;
        right: 0;
        top: 50%;
        font-family: $font_serif;
        font-size: 0;

        border-radius: .6rem 0 0 .6rem;
        background: url(../img/bg-reviews__bg.jpg) 0 0 no-repeat;

        transform: translateX(15.6rem);
        @extend %transition_all;
        overflow: hidden;

        &:hover {
            transform: translateX(0);
            @extend %transition_all;
        }
    }

    &__btn {
        display: block;
        padding: 1.2rem 1.7rem 1.4rem 1.7rem;
        position: relative;
        border: none;
        color: $white;
        -webkit-box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.15);

        &:hover {
            color: #fff;
        }

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            margin-right: 1rem;
            fill: $white;
            &:hover {
                fill: $white;
            }
        }
    }

    &__text {
        display: inline-block;
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: .2rem 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .c-icon {
        fill: #fff;
        margin-right: 1.1rem;
        width: 21px;
        height: 31px;
    }

    &-positive .c-reviews__btn {
        background-color: rgba(129, 199, 29, 0.87);
    }

    &-negative .c-reviews__btn {
        background-color: rgba(223, 75, 10, 0.8);;
    }
}

/*хлебные крошки*/
.c-breadcrumb {
    margin-bottom: 2.6rem;
    margin-top: 40px;
    font-size: 0;

    &__home {
        width: 3.6rem;
        height: 1.9rem;
        display: inline-block;
        background: url(../img/icons/icon-house.svg) 0 0 no-repeat;
        padding-right: 1.4rem;
        vertical-align: middle;
    }

    &__item {
        display: inline-block;
        position: relative;
        padding-right: 1.4rem;
        border: none;
        color: $color_text_bg;
        margin-right: .7rem;
        font-size: 1.3rem;
        vertical-align: middle;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            left: auto;
            top: .4rem;
            width: .6rem;
            height: .9rem;
            border: none;
            background: url(../img/icons/icon-arr-right.svg) 0 0 no-repeat;
        }

        &:last-child::after {
            display: none;
        }

    }

}

/*card------------------------------------------------------------*/
.c-card-cafe {
    border: 2px solid #d1d1d1;
    border-radius: .6rem;
    width: 100%;
    font-family: $font_serif;
    color: $color_text_bg;
    background-color: $white;
    font-size: 1.3rem;
    line-height: 1.2;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;

    &__title {
        display: inline-block;
        font-family: $font_serif;
        font-size: 1.7rem;
        color: #9b806f;
        margin-bottom: 2.5rem;
        border: none;

    }

    &__img {
        width: 35%;
        overflow: hidden;
        position: relative;

        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            //vertical-align: middle;
            //position: relative;
            //left: 50%;
            //transform: translateX(-50%);
        }
    }

    &__menu {
        position: absolute;
        bottom: .8rem;
        left: 1.1rem;
        right: 1.1rem;
        text-align: center;
        font-size: 1.5rem;
        color: $white;
        background-color: $color_active;
        border-radius: .4rem;
        padding: .8rem 0;
        line-height: 1.3;
        vertical-align: middle;
        border: none;

        &::after {
            content: '';
            border: none;
        }

        &:hover {
            color: $white;
            background-color: $color_brand;
        }
    }

    .icon-food-menu {
        display: inline-block;
        vertical-align: middle;
        margin-right: .8rem;
        width: 1.9rem;
        height: 1.4rem;
        background: url(../img/icons/icon-food-menu.svg) 50% 50% no-repeat;
    }

    &__body {
        padding: 1rem 1.5rem;
        width: 65%;

    }

    &__item {
        margin-bottom: .8rem;

    }

    &__subway {
        vertical-align: middle;
        img {
            vertical-align: middle;
            margin-right: .6rem;
        }
    }

    &-advantages {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;
        padding-top: 1.6rem;
        border-top: 1px solid #cec9c0;

        &__item {
            //background-color: $custom_bg;
            background-color: #f3efe4;
            padding: 1rem;
            border-radius: .4rem;
            min-height: 3.7rem;
            font-size: 1.3rem;
            vertical-align: bottom;
            margin: 0 .4em .4rem 0;
            cursor: pointer;
            min-width: 44px;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }

            i {
                display: inline-block;
                vertical-align: bottom;
                margin-bottom: 0;
                //width: 2rem;
                //height: 1.6rem;
            }

            .icon-chair {
                width: 1.5rem;
                height: 1.7rem;
            }
        }
    }
}

.c-card-map {
    width: 660px;
    height: 265px;
    display: block;
    border-color: rgba(0,0,0,.25);
    box-shadow: 0 3px 10px 2px rgba(0,0,0,.2);
    position: relative;

    &__header {
        text-align: left;
        padding: 1rem 1.2rem;
        position: relative;
        background-color: #f3efe4;
    }

    &__body {
        text-align: left;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
    }

    &__title {
        text-align: left;
        display: inline-block;
        font-size: 1.7rem;
        color: #9b806f;

    }

    .c-card-cafe__img img {
        width: 100%;
        height: auto;
    }

    .popup-close {
        padding: 1.4rem 1.6rem 2rem;
    }

    &::after {
        content: '';
        position: absolute;
        right: 100%;
        left: 90px;
        border-style: solid;
        border-width: 17px 16px 0 16px;
        border-color: #7dbd41 transparent transparent transparent;
    }
}

/*card-event------------------------------------------------------------*/

.c-card-event {
    position: relative;
    background-color: $white;
    box-shadow: 0px 5px 9.2px 0.8px rgba(0, 0, 0, 0.1);
    border: solid 2px rgba(0, 0, 0, 0.15);
    padding: 1.3rem 1.8rem 2.7rem 8.5rem;

    &__price {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-weight: 300;
        font-family: $font_sans-serif;
        font-size: 3.4rem;
        line-height: 0.96;
        color: #553023;
    }

    &__header {

    }

    &__body {

    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1.4rem;
        font-size: 1.3rem;
        color: #9b9595;


        &:last-child {
            margin-right: 0;
        }

        i, img {
            display: inline-block;
            vertical-align: middle;
            margin-right: .9rem;
        }
    }

    &__date {
        display: inline-block;
        padding: 1rem 1.8rem;
        font-size: 20px;
        line-height: 1;
        text-align: left;
        color: #604e42;
        background-color: #f3efe4;
        margin-bottom: 1.4rem;
    }

    &__title {
        margin-bottom: 1.3rem;

        a {
            font-size: 2rem;
            line-height: 0.75;
            text-align: left;
            color: #231300;
        }
    }

    &__info {
        margin-bottom: 1.3rem;
        border-bottom: 1px solid #cec9c0;
        padding: 1.3rem 0;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        width: 7.3rem;
        height: 11.5rem;
        background: url(../img/bg-event-label.png) 0 0 no-repeat;
    }

    &__age {
        padding: .9rem .8rem;

        i {
            text-align: center;
            font-size: 2rem;
            line-height: 5rem;
            color: #604e42;
            font-style: normal;
        }
    }

    &__text {
        margin-bottom: 1.3rem;
        font-size: 1.3rem;
        line-height: 1.23;
        text-align: left;
        color: #9b9595;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/*menu-card------------------------------------------------------------*/
.menu-card {
    font-family: $font_serif;

    &__title {
        font-size: 1.8rem;
        text-align: center;
        color: #a43c34;
        margin-bottom: 1.3rem;
    }

    &__body {
        border-top: 1px solid #a38c7d;
        border-bottom: 1px solid #a38c7d;
        padding: 1.3rem 0;
    }

    &__name {
        font-size: 1.8rem;
        color: #553023;
        margin-bottom: 1rem;
    }

    &__list {

        &-vert {
            display: inline-block;

            &-item {
                &::before {
                    content: '•';
                    margin-right: .3rem;
                }
            }
        }

        &-hor {
            display: inline-block;

            &-item {
                display: inline-block;
                position: relative;

                &::before {
                    content: '•';
                    margin-right: .3rem;
                }
            }
        }
    }

    &__product {
        font-size: 1.3rem;
        color: #76665c;
        margin-bottom: .6rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;

        &-item {
            width: 93%;
            position: relative;
            overflow: hidden;


            &::after {
                content: '';
                position: absolute;
                bottom: 4px;
                width: 100%;
                border-bottom: 1px dashed #76665c;
                margin-left: .5rem;
            }
        }
    }

    &__price {
        width: 7%;
        text-align: right;
        font-size: 1.6rem;
        color: #553023;
        font-weight: 700;
        white-space: nowrap;

    }
}

/*grid------------------------------------------------------------*/
.c-line {
    &-horizontal {
        width: 100%;
        height: 3px;
        background: url(../img/line-wave-horizontal.png) 0 0 repeat-x;
        margin-bottom: 2rem;
    }
}

/*grid------------------------------------------------------------*/

.c-grid {
    display: flex;
    flex-flow: row wrap;
    margin-left: -1.4rem;
    margin-right: -1.4rem;
}

.c-grid-between {
    justify-content: space-between;
    align-items: stretch;
}

.c-col {
    padding: 1.4rem;
}

.c-col-6 {
    width: 50%;
}

/*slider arrow------------------------------------------------------------*/
.fotorama__arr {
    width: 3.3rem;
    height: 3.3rem;
}
.fotorama__arr--next {

    background: url(../img/icons/icon-green-arrow-right.svg) 0 0 no-repeat;
}
.fotorama__arr--prev {
    right:0;
    background: url(../img/icons/icon-green-arrow-left.svg) 0 0 no-repeat;
}

.fotorama__thumb {
    border: 2px solid #fff;
}

.fotorama__thumb-border {
    border-color: #382015;
}

/*c-pagination------------------------------------------------------------*/
.c-pagination {
    font-size: 0;

    &__item {
        display: inline-block;
        font-size: 1.3rem;
        color: $black;
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 3.1rem;
        line-height: 3.1rem;
        text-align: center;
        word-wrap: break-word;
        background-color: rgba(167, 167, 167, 0.3);
        margin-right: .7rem;

        &:after {
            content: '';
            border: none;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $white;
            background-color: $color_active;
        }

    }
}

.c-pagination__item.active {
    color: $white;
    background-color: $color_active;
}

.tooltip {
    position: relative;
}

[rel="tooltip-text"] {
    position: relative;
}

.tooltiptext {
    opacity: 0;
    //min-width:20rem;
    position: absolute;
    //top: -2rem;
    //left: 50%;
    padding: .6rem 1.1rem;
    border: 1px solid #a8a4a2;
    color: #555451;
    font-size: 1.3rem;
    border-radius: .4rem;
    background-color: #fff;
    box-shadow: 0 3px 10px 2px rgba(0,0,0,.1);
}

.tooltip_templates {
    display: none;
}

.tooltipster-box i {
    display: inline-block;
    width: 2rem;
    height: 1.4rem;
    position: relative;
    top: 2px;
    vertical-align: top;
}

.tooltipster-sidetip .tooltipster-content {
    padding: .6rem 1.1rem;
    color: #555451;
    font-size: 1.3rem;
}

.tooltipster-sidetip .tooltipster-box {
    //padding: .6rem 1.1rem;
    border: 1px solid #a8a4a2;
    color: #555451;
    font-size: 1.3rem;
    border-radius: .4rem;
    background-color: #fff;
    box-shadow: 0 3px 10px 2px rgba(0,0,0,.1);
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #fff;
    top: -1px;
}

.tooltipster-sidetip .tooltipster-arrow-uncropped {
    top: 1px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #a8a4a2;
}

.bg-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1.2) translate(-50%, -50%);
    width: 100%;
    height: auto;
    filter: blur(8px);
    opacity: 1;
}