//@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400i&subset=cyrillic,cyrillic-ext');

@include font_face(BebasNeue-Bold, BebasNeue,'../fonts/', 700);
@include font_face(PTSerifCaption, PT Serif Caption,'../fonts/', 700);
@include font_face(BebasNeue-Regular, BebasNeue,'../fonts/', 500);
@include font_face(BebasNeue-Book, BebasNeue,'../fonts/', 400);
@include font_face(BebasNeue-Light, BebasNeue,'../fonts/',300);
@include font_face(BebasNeue-Thin, BebasNeue,'../fonts/',100);
@include font_face(PTRoubleSerif, RoubleSerif,'../fonts/',400);

@include font_face(SummerFont-Light, SummerFont,'../fonts/',100);


$font_sans-serif: 'BebasNeue';
$font_serif: 'PT Serif Caption';
$font_decor: 'SummerFont';
$font_RoubleSerif: 'RoubleSerif';

$font_bold: 700;
$font_light: 300;
$font_thin: 100;
