//------------------------------------------------------------layout
.header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	will-change: transform;

	@include z-index(header);
}

//------------------------------------------------------------layout###

.header {
	background: $custom_bg url($img_path + 'bg-header.png') repeat;
	font-family: $font_serif;

	-webkit-box-shadow: 0px 0px 30px -4px rgba(27,27,59,1);
	-moz-box-shadow: 0px 0px 30px -4px rgba(27,27,59,1);
	box-shadow: 0px 0px 30px -4px rgba(27,27,59,1);

	&-layout {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: stretch;
	}

	/*колонки*/
	&-col__left {
		width: 35%;
		text-align: left;
	}

	&-col__center {
		width: 30%;
		text-align: center;
	}

	&-col__right {
		width: 35%;
		text-align: right;
	}

	/*логотип*/
	&-logo {
		border: none;
	}

	/*меню*/
	&-menu {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;

		&__item {
			padding: 1rem;

		}

		&__link {
			text-transform: lowercase;
		}
	}

}