//------------------------------------------------------------header
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    will-change: transform;

    @include z-index(header);
}

.header {
    background: $custom_bg url($img_path + 'bg-header.png') repeat;
    font-family: $font_serif;
    padding: 1rem 0 0;

    -webkit-box-shadow: 0px 3px 18px 8px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 18px 8px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 18px 8px rgba(0,0,0,0.25);
    color: $color_text_bg;

    &-layout {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
    }

    &-col__left { /*колонки*/
        width: 33%;
        text-align: left;
    }

    &-col__center {
        width: 30%;
        text-align: center;
    }

    &-col__right {
        width: 33%;
        text-align: right;
    }

    &-top {
        margin-bottom: .4rem;
    }

    &-logo { /*логотип*/
        display: block;
        border: none;
        width: 380px;
        padding: .3rem 0;
        margin: 0 auto;
    }

    &-menu { /*меню*/
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        font-size: 1.8rem;

        &__item {
            padding: 1rem;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

        }

        &__link {
            text-transform: lowercase;
        }
    }

    &-personal {
        margin-bottom: .5rem;
        font-size: 0;
        //display: flex;
        //flex-flow: row nowrap;
        //justify-content: flex-start;
        //align-content: flex-end;
    }

    &-cabinet {
        font-size: 1.3rem;
        text-transform: lowercase;
        margin-right: 1.8rem;
        display: inline-block;
        vertical-align: bottom;

        &__text {
            color: $color_text_bg;
        }

    }

    &-basket {
        display: inline-block;
        vertical-align: bottom;
        cursor: pointer;
        position: relative;

        &__count {
            position: absolute;
            top: -3px;
            left:85%;
            width: 33px;
            text-align: center;
            color: $white;
            font-size: 1.1rem;

            span {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &-city {/*выбор города*/
        font-size: 1.2rem;
    }

    &-contact {/*правая часть шапки*/
        font-size: 0;
        text-align: right;
    }

    &-search {
        display: inline-block;
        margin-right: 1rem;
        cursor: pointer;
    }

    &-email {
        display: inline-block;
        margin-right: 1rem;
        cursor: pointer;
    }

    &-phone {
        display: inline-block;
        cursor: pointer;
    }

    &-tel {
        display: inline-block;
        color: $color_brand;
        font-size: 2.3rem;
        margin-left: 1.9rem;
    }

    &-time {
        font-size: 1.2rem;
    }

}


@media screen and (min-width: 1600px) {

}

@media screen and (max-width: 1600px) {

}

//------------------------------------------------------------header###