//-------------------------------------------------main*/
.home-page {
    position: relative;
    height: 100%;
}


//------------------------------------------------кафе на главной*/

.home-cafe {
    position: absolute;
    top: 21%;
    left: 5.5%;

    &__line {
        position: absolute;
        top: 29.3rem;
        left: 4.8rem;
        fill: #201600;
        width: 44.3rem;
    }
}



//------------------------------------------------праздники на главной*/
.home-celebration {

}

//------------------------------------------------заказ тортов на главной*/
.home-cake {

}